.textBold {
  font-size: 24px !important;
  padding-block: 15px !important;
  font-weight: 700 !important;
}

.form .formText {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  padding: 0;
}
.tel:hover
{
  text-decoration: underline;
}

.formCenter {
  text-align: center;
  margin: 0 auto;
}

.form {
  text-align: left;
  padding: 70px 0px 70px 70px;
  background: #fff;
}

.formPb {
  padding-bottom: 25px;
  display: flex;

  gap: 20px;
}
.formPb .campusInput {
  width: 100%;
  flex: 1;
}
.formPb .campusInput select {
  background-color: #e4e4e4;
  border: none;
  margin-block: 1rem 2rem;
  width: 100%;
  padding: 6px;
}

.careerBg {
  position: relative;
}

.careerBg::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 179px;
  height: 282px;
  background: url(/assets/vectors/greenhalfspiral.png);
  background-size: 142px;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: 1;
}

.tableborder tbody,
.tableborder td,
.tableborder tfoot,
.tableborder th,
.tableborder thead,
.tableborder tr {
  border-color: #842029;
}
.tableborder p {
  margin: 0;
}
.submitBtn {
  border: 0;
  color: #fff;
  padding: 5px 10px;
}
.tableContainer {
  width: 400px;
}

.add_color {
  font-size: 0.8rem;
  font-weight: 400;
  color: #842029;
  padding: inherit;
}

.customPills :global(.nav-link) {
  border-radius: 0;
  padding: 8px 20px;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  background-color: #f5f5f5;
  color: #c4c4c4;
  transition: all 0.3s ease;
  border-bottom: 1px solid #e02d53;
}

.customPills :global(.nav-link:hover) {
  background-color: #e2e2e2;
  color: #333;
}

.customPills :global(.nav-link.active) {
  background-color: #e02d53;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 660px) {
  .form {
    padding: 70px 0px 70px;
  }
  .tableContainer {
    width: 300px;
  }
  .customPills :global(.nav-link) {
    font-size: 18px;
  }

  .formPb {
    flex-direction: column;
  }
  .formPb .campusInput select {
 
  margin-block: .5rem;
  
}
}

@media only screen and (max-width: 990px) {
  .careerBg::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 115px;
    background: url(/assets/vectors/greenhalfspiral.png);
    background-size: 75px;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 1;
  }
}
