.textBold{font-size: 20px;padding-top: 50px;font-weight: 600;}

.form .formText{border: none;border-bottom: 1.5px solid #b0b0b0;border-radius: 0;padding: 0;}

.formCenter{text-align: center;margin: 0 auto;}

.form{text-align: left;padding: 70px 0px 70px 70px;background: #fff;}

.formPb{padding-bottom: 25px;}

.careerBg{position: relative;}

.careerBg::after{content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 179px;
    height: 282px;
    background: url(/assets/vectors/greenhalfspiral.png);
    background-size: 142px;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 1;}

.tableborder tbody, .tableborder td, .tableborder tfoot, .tableborder th, .tableborder thead, .tableborder tr{border-color: #842029;}


@media only screen and (max-width: 660px){

    .form{padding: 70px 0px 70px;}
}