.ourFacilities {
  background-color: #fff8fb;
  padding-block: 3rem;
}

.mainContent {
  overflow: hidden;
  padding-block: 30px 60px;
}
.mainContentMob {
  overflow: hidden;
  padding-block: 30px 30px;
}

.rightHeading {
  font-family: "Nunito";
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;
  position: relative;

  width: fit-content;
}
.rightHeading::before {
  content: " ";
  position: absolute;
  background: url("/images/icon/homepage/underline-pink.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 14px;
  bottom: -16px;
  left: 10px;
}
.gridCardContent {
  display: grid;
  gap: 2rem;
}
.Cardxcontainer {
  display: flex;
  overflow: hidden;
  border-radius: 8px;
}

.card {
  position: relative;
  flex: 1;
  border-radius: 8px;

  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
   transform: scale(1);
   transition: transform 0.3s ease-in; 

}
.card:hover img{
  animation: kenburns 9s forwards;
  cursor: pointer;
  
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.15); /* quick 1s scale (10% of 9s = ~1s) */
  }
  100% {
    transform: scale(1.25) translate(5%, 5%); /* slow Ken Burns */
  }
}

.topleft {
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}
.topleft,
.topright,
.bottomleft,
.bottomright {
  transition: clip-path 0.3s ease;
}
/* .topleft:hover,
.topright:hover,
.bottomleft:hover,
.bottomright:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  cursor: pointer;
} */

.topright {
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
}
.bottomleft {
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
}

.bottomright {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}

.right .caption {
  text-align: end;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #E02D53;
  padding: 10px 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .mainContent {
    padding-block: 1.3rem 0;
  }
}

/* Base dots (scoped via :global) */
.mainContentMob :global(.splide__pagination li) {
  margin: 0 5px;
  transition: all 0.3s ease;
}
.mainContentMob :global(.splide__pagination__page) {
  border-radius: 0;
  background: #fba1b4 !important;
  margin: 0;
  transition: all 0.3s ease;
}
.mainContentMob :global(.splide__pagination) {
  bottom: -1.5rem;
  right: 0 !important;
  justify-content: flex-end;
}

/* Active dot (pill style) */
.mainContentMob :global(.splide__pagination__page.is-active) {
  width: 46px;
  margin: 0 5px;
  border-radius: 0;
  background: #e02d53 !important;
}
