.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.schlBusImg {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 1;
}

.vectorImg11 {
    position: absolute;
    height: 150px;
    left: -130px;
    bottom: -160px;
}

.sectionPdng {
    min-height: 366px;
}

.iconsImg {
    height: 60px;
}

.vectorImg10::after{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 160px;
    height: 227px;
    width: 247px;
    bottom: 60px;
    right: 0;
}

.vectorImg13::before{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector13.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0;
    background-size: 100px;
    height: 227px;
    width: 247px;
    top: 55px;
    left: 0;
}

.paraAlign {
    text-align: start;
    /* padding-left: 77px; */
}

.paraAlign3 {
    text-align: start;
    /* padding-left: 100px; */
}



@media only screen and (max-width: 600px) {

    .schlBusImg {
        width: 100%;
        position: unset;
    }

    .rowPdng {
        padding-top: 70px;
    }

    .paraAlign {
        text-align: center;
        padding: 0px;
    }

    .paraAlign3 {
        text-align: center;
        padding: 0px ;
    }

    .sectionPdng {
        display: none;
    }
    .mobColPdng{
        padding: 20px 0px;
    }
    .vectorImg10::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 100px;
        height: 227px;
        width: 247px;
        bottom: 14px;
        right: 0;
    }
}