.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.schlBusImg {
    width: 100%;
    position: absolute;
    top: -330px;
    right: -58px;
}

.vectorImg11 {
    position: absolute;
    height: 150px;
    left: -130px;
    bottom: -160px;
}

.sectionPdng {
    padding-top: 100px;
    padding-bottom: 150px;
}

.rowPdng {
    padding-top: 222px;
}

.iconsImg {
    height: 60px;
}

.vectorImg10::after{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 150px;
    height: 227px;
    width: 247px;
    bottom: 0;
    right: 0;
}

.vectorImg13::before{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector13.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0;
    background-size: 100px;
    height: 227px;
    width: 247px;
    top: 55px;
    left: 0;
}

.paraAlign {
    text-align: start;
    padding-left: 95px;
}

.paraAlign3 {
    text-align: start;
    padding-left: 111px;
}



@media only screen and (max-width: 600px) {

    .schlBusImg {
        width: 100%;
        position: unset;
    }

    .rowPdng {
        padding-top: 70px;
    }

    .paraAlign {
        text-align: start;
        padding: 20px 104px;
    }

    .paraAlign3 {
        text-align: start;
        padding: 0px 112px;
    }

    .sectionPdng {
        padding: 50px 0px;
    }
}