.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.schlBusImg {

    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 1;

}

.schlBusImg img {

    z-index: 1;
    position: relative;
}

.schlBusImg::after {

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 50px;
    bottom: -50px;
    background-color: #EACFFF;
}

.vectorImg11 {
    position: absolute;
    height: 150px;
    left: -130px;
    bottom: -160px;
}

.sectionPdng {
    min-height: 50vh;
}

.iconsImg {
    height: 60px;
}

.vectorImg10::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 160px;
    height: 227px;
    width: 247px;
    bottom: 60px;
    right: 0;
}

.vectorImg13::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector13.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0;
    background-size: 100px;
    height: 227px;
    width: 247px;
    top: 55px;
    left: 0;
}

.paraAlign {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

.contactBgcolor::after {

    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(/assets/contactBg.png);
    z-index: 0;
    background-size: 100px;
    height: 227px;
    width: 247px;
    bottom: -55px;
    right: 0;
}

.ContactImgBgColor {
    position: relative;
}

.ContactImgBgColor img {
    position: relative;
    z-index: 1;
}
.ContactImgBgColor::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 73px;
    bottom: 100px;
}




@media only screen and (max-width: 660px) {

    .schlBusImg {
        width: 100%;
        position: unset;
    }

    .rowPdng {
        padding-top: 70px;
    }

    .paraAlign {
        text-align: center;
        padding: 0px;
    }

    .paraAlign3 {
        text-align: center;
        padding: 0px;
    }

    .sectionPdng {
        display: none;
    }

    .mobColPdng {
        padding: 20px 0px;
    }

    .vectorImg10::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 100px;
        height: 227px;
        width: 247px;
        bottom: 14px;
        right: 0;
    }
}

@media screen and (max-width: 990px) {

    .schlBusImg {
        width: 100%;
        position: unset;
    }

    .vectorImg10::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 100px;
        height: 227px;
        width: 247px;
        bottom: 14px;
        right: 0;
    }

    .mobColPdng {
        padding: 20px 0px;
    }

    .rowPdng {
        padding-top: 70px;
    }

    .ContactImgBgColor::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        left: 10px;
        bottom: -10px;
    }
    .ContactImgBgColor img {
        position: relative;
        z-index: 3;
    }

}