.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.Blog1Img {
    width: 100%;
    top: -90px;
}

.Blog2Img {
    width: 100%;
    top: -70px;
}

.colPdng1 {
    padding: 0px 70px 0px 12px;
}

.colPdng2 {
    padding: 0px 60px 0px 60px;
}


.vectorImg2::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector1.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 100px;
    height: 210px;
    left: 0%;
    width: 190px;
    top: 0%;
}

.vectorImg3::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 160px;
    height: 210px;
    right: 0%;
    width: 190px;
    bottom: 3%;
}

.BlogvectorImg2 {
    width: auto;
    position: absolute;
    left: -27px;
    top: 333px;
}

.BlogvectorImg3 {
    width: auto;
    position: absolute;
    right: 0;
    bottom: -800px;
}

.sectionContainer {
    padding-bottom: 150px;
}

.BlogCnt1Img {
    position: absolute;
    width: 100%;
    height: auto;
    top: -224px;
}

.rowBox {
    border: 2px solid #222;
}


@media only screen and (max-width: 660px) {

    .Blog1Img {
        position: unset;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .Blog2Img {
        position: unset;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .sectionContainer {
        padding-bottom: 50px;
    }

    .BlogCnt1Img {
        position: unset;
        width: 100%;
        height: 100%;
    }

    .vectorImg2::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector1.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 88px;
        height: 210px;
        left: 0%;
        width: 190px;
        top: -2%;
    }

    .vectorImg3::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector2.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        right: 0%;
        width: 190px;
        bottom: 3%;
    }

    .colPdng2 {
        padding: 0 15px;
    }

}

@media only screen and (min-width: 661px) and (max-width: 990px) {
    .vectorImg2::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector1.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 88px;
        height: 210px;
        left: 0%;
        width: 190px;
        top: -2%;
    }

    .vectorImg3::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector2.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        right: 0%;
        width: 190px;
        bottom: 3%;
    }
    .Blog1Img {
        width: 100%;
        top: 0;
    }
    .Blog2Img {
        width: 100%;
        top: 0;
    }
    .colPdng1 , .colPdng2 {
        padding: 0;
    }
    .order1{
        order: 1;
    }.order2{
        order: 2;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .colPdng1 , .colPdng2 {
        padding: 0;
    }
}