.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.classroomImg {
    width: 100%;
    position: relative;
}

.classroomImgDiv {
    position: relative;
}


.vectorImg10::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector17.png);
    background-repeat: no-repeat;
    background-position: center left;
    z-index: 0;
    background-size: 12vh;
    height: 227px;
    left: 0;
    width: 247px;
    top: 40vh;
}

.vectorImg9::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector9.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 22vh;
    height: 227px;
    width: 247px;
    right: 0;
    bottom: 0;
}

.vmpsImg::after {

    content: '';
    position: absolute;
    background-image: url(/assets/VMPS.png);
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
    background-size: 285px;
    height: 227px;
    right: -280px;
    width: 300px;
    top: 0px;
}


@media only screen and (max-width: 660px) {

    .pdngZero {
        padding: 0px 12px !important;
    }

    .classroomImg {
        width: 100%;
        height: 100%;
        position: unset;
        padding: 0px;
    }

    .vectorImg9::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector9.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 75px;
        height: 227px;
        width: 247px;
        right: 0;
        bottom: 0;
    }

    .vectorImg10::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: center left;
        z-index: 0;
        background-size: 110px;
        height: 227px;
        left: 0;
        width: 247px;
        top: 18%;
        z-index: 1;
    }

    .classroomImgDiv {
        position: relative;
        top: 0;
        margin: 25px 0;
    }

    .vmpsImg::after {
        content: '';
        position: absolute;
        background-image: url(/assets/VMPS.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        z-index: 0;
        background-size: 185px;
        height: 227px;
        right: 0px;
        width: 300px;
        bottom: 0;
    }
    .ulineMargin{
        margin-bottom: 40px;
    }

}