.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.classroomImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg10::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector17.png);
    background-repeat: no-repeat;
    background-position: center left;
    z-index: 0;
    background-size: 110px;
    height: 227px;
    left: 0;
    width: 247px;
    top: 20%;
}

.vectorImg9::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector9.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 150px;
    height: 227px;
    width: 247px;
    right: 0;
    bottom: 0;
    
}
.vmpsImg::after {
    
    content: '';
    position: absolute;
    background-image: url(/assets/VMPS.png);
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
    background-size: 285px;
    height: 227px;
    right: -280px;
    width: 300px;
    top: 45px;
}


@media only screen and (max-width: 600px) {

    .pdngZero {
        padding: 0px 12px !important;
    }
    .classroomImg{
        width: 100%;
        height: 100%;
        position: unset;
        padding: 20px 0px;
    }
    .vectorImg9::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector9.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 75px;
        height: 227px;
        width: 247px;
        right: 0;
        bottom: 0;
    }
    .vectorImg10::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: center left;
        z-index: 0;
        background-size: 110px;
        height: 227px;
        left: 0;
        width: 247px;
        top: 18%;
        z-index: 1;
    }

}