.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 1px;
    width: 70px;
}

.Blog1Img {
    position: absolute;
    width: 100%;
    height: 380px;
    top: -270px;
}

.Blog2Img {
    width: 100%;
}

.vectorImg1 {
    width: auto;
    height: 322px;
    position: absolute;
    right: -104px;
    top: -24px;
}

.vectorImg2 {
    width: auto;
    position: absolute;
    left: -10px;
    top: 316px;

}

.BlogvectorImg2::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector1.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 160px;
    height: 210px;
    left: 0%;
    width: 190px;
    top: -2%;
}

.BlogvectorImg3::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 160px;
    height: 210px;
    right: 0%;
    width: 190px;
    bottom: 3%;
}

.vectorImg3 {
    width: auto;
    position: absolute;
    right: 0;
}

.sectionContainer {
    padding-bottom: 150px;
}

.BlogCnt1Img {
    position: absolute;
    width: 100%;
    height: 380px;
    top: -224px;
}

@media only screen and (max-width: 600px) {

    .Blog1Img {
        position: unset;
        width: 100%;
        height: 100%;
        padding-top: 60px;
    }

    .Blog2Img {
        width: 100%;
        padding-bottom: 50px;
    }

    .sectionContainer {
        padding-bottom: 50px;
    }

    .BlogCnt1Img {
        position: unset;
        width: 100%;
        height: 100%;
    }
    .BlogvectorImg2::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector1.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        left: 0%;
        width: 190px;
        top: -1%;
    }
    .BlogvectorImg3::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector2.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        right: 0%;
        width: 190px;
        bottom: 1%;
    }

}