.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.sectionContainer {
    padding: 50px 0px;
}

.vectorImg1::before{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector1.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 140px;
    height: 210px;
    left: -1%;
    width: 190px;
    top: -3%;
}
.vectorImg2::after{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 160px;
    height: 210px;
    right: 3%;
    width: 190px;
    bottom: 3%;
}

.PrincipalImg {
    position: absolute;
    height: 570px;
    top: -460px;
    right: -104px;
}
.vmpsImg{
    position: absolute;
    bottom: -140px;
    right: 25px;
    height: 50px;
}

@media only screen and (max-width: 600px) {

    .PrincipalImg {
        position: unset;
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }

    .sectionContainer {
        padding: 0px;
    }
    .vectorImg1::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector1.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        left: -1%;
        width: 190px;
        top: -2%;
    }
    .vectorImg2::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector2.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        right: 11%;
        width: 190px;
        bottom: 2%;
    }
}


@media only screen and (min-width: 601px) and (max-width: 767px) {

    .PrincipalImg {
        position: unset;
        height: 480px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 990px) {

    .PrincipalImg {
        position: unset;
        height: 480px;
    }

}