.dropdowns button{background-color: unset !important;border: none;color: #000 !important;padding-left: 0;}

.dropdowns .dropdown-toggle::after{color: #a11928;}

.dropdowns button:hover{background-color: unset;border: none;color: #000;padding-left: 0;}

.dropdowns .btn:focus-visible{background-color: unset;border: none;color: #000;padding-left: 0;}

.dropdowns .btn:first-child:active{background-color: unset !important;border: none;color: #000;padding-left: 0;}

.dropdowns .dropdown-toggle::after{color: #9e1928;}

.dropdowns button::after{position: absolute;left: 80px;top: 24px;color: #992331;}

.tabNavLink{color: rgba(29, 29, 29, 1) !important;padding-left: 0;}

.dropMenu .tabNavLink{padding: 0;}

