.classContent{position: relative;}

.classContent::after{content: "";
    position: absolute;
    top: -203px;
    left: 57px;
    width: 100%;
    height: 100%;
    background: url(/assets/vectors/circle-vector.png);
    background-size: 142px;
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 1;}

.onlineImg{margin-top: -165px;}

.tilteSpace{padding-bottom: 120px;}

@media only screen and (max-width: 660px) {

    .classContent{z-index: 1;}

}

@media only screen and (max-width: 990px) {
    .classContent::after {
        content: "";
        position: absolute;
        top: 50px;
        right: 0;
        left: unset;
        width: 100%;
        height: 100%;
        background: url(/assets/vectors/circle-vector.png);
        background-size: 100px;
        background-position: bottom right;
        background-repeat: no-repeat;
        z-index: 1;
    }
}
