.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.sectionPdng {
    padding-top: 75px;
    padding-bottom: 110px;
}

.schoolBuildingImg {
    position: absolute;
    right: -62px;
    top: -115px;
    height: 500px;
}

/* .vectorImg5::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector5.png);
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 1;
    background-size: 110px;
    height: 210px;
    right: 40%;
    width: 190px;
} */

.vectorImg2 {
    position: absolute;
    bottom: -94px;
    left: -186px;
}

.vectorImg3::before{

    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector3.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 110px;
    height: 210px;
    left: 0%;
    width: 190px;
    top: 20%;

}

.vectorImg6::after{
    
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector6.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 150px;
    height: 210px;
    right: 10%;
    width: 190px;
    bottom: 4%;
}

.vmpsImg {
    position: absolute;
    bottom: -100px;
    right: -30px;
    height: 65px;
}

.navTabBg {
    background-color: #AA182C !important;
    color: #fff;
}

.navTabBg:active {
    background-color: #fff;
    color: blue;
}

.colpdngRt {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-right: 50px;
}

.colpdngLt {
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 50px;
}

.numberStyle {
    font-size: 95px;
    opacity: 0.1;
}

.sectionPdng {
    padding-bottom: 150px;
}

.headingPdng {
    padding-bottom: 80px;
}





@media only screen and (max-width: 660px) {
    .vmpsImg {
        position: absolute;
        bottom: -255px;
        right: 0px;
        height: 20px;
    }
    .VectorHalfSpiral::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector9.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 110px;
        height: 158px;
        width: 228px;
        right: 0;
        top: 0;
    }
    .vectorImg3::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector3.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 88px;
        height: 210px;
        left: 0%;
        width: 190px;
        top: 30%;
    }
    .vectorImg6::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector6.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 90px;
        height: 210px;
        right: 0%;
        width: 190px;
        bottom: 8%;
    }


    .schoolBuildingImg {
        width: 100%;
        height: 100%;
        position: unset;
        padding: 50px 0px;
    }

    .headingPdng {
        padding-bottom: 0px;
    }

    .sectionPdng {
        padding-top: 60px;
        padding-bottom: 0;
    }

    .colpdngLt {
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 25px;
    }

    .colpdngRt {
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 25px;
    }
}

@media only screen and (min-width: 661px) and (max-width: 990px) {
    .vmpsImg {
        position: absolute;
        bottom: 15px;
        right: 0px;
        height: 35px;
    }

    .vectorImg1 {
        width: auto;
        height: 125px;
        position: absolute;
        right: -30px;
        top: 240px;
        z-index: 1;
        padding: 0;
    }

    .schoolBuildingImg {
        width: 100%;
        position: unset;
        padding-bottom: 60px;
    }

    .sectionPdng {
        padding-bottom: 0px;
    }

    .vectorImg5 {
        position: absolute;
        height: 90px;
        bottom: -45px;
        left: -55px;
    }

    .vectorImg3 {
        position: absolute;
        left: -48px;
        top: 475px;
        height: 100px;
    }

    .colpdngRt,
    .colpdngLt {
        padding: 20px 20px;
    }

    .vectorImg6 {
        position: absolute;
        right: 0px;
        bottom: -29px;
        height: 80px;
    }
}