.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg {
    width: auto;
    height: 322px;
    position: absolute;
    right: -104px;
    top: -24px;
    z-index: 99;
}

.vectorImg5 {
    position: absolute;
    right: 302px;
    top: -8px;
    z-index: -1;
    height: 150px;
}
.vmpsImg{
    position: absolute;
    height: 70px;
    bottom: 1206px;
    right: -55px;
    z-index: 1;
}

.vectorImg6::before{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector12.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 70px;
    height: 210px;
    left: 0%;
    width: 190px;
    top: 47%;
}

.vectorImg8::after{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector8.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 160px;
    height: 210px;
    right: 0%;
    width: 190px;
    bottom: 3%;
}

.staffImg{
    border-radius: 8px;
}


@media only screen and (max-width: 600px) {

    .rowPdng {
        padding: 0 !important;
    }

    .staffImg {
        width: 100%;
    }

    .vmpsImg{
        display: none;
    }

    .vectorImg6::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector12.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 30px;
        height: 210px;
        left: 0%;
        width: 190px;
        top: 48%;
    }
    .vectorImg8::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector8.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        right: 0%;
        width: 190px;
        bottom: 3%;
    }
    .vectorImg5{
        position: absolute;
        right: 245px;
        top: 68px;
        z-index: -1;
        height: 65px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {

    .staffImg {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {

    .staffImg {
        width: 100%;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    
}