.scrollToTop {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  border: none;
  z-index: 99;

  background: linear-gradient(
    85.31deg,
    #a11d2a -39.85%,
    #e02d53 44.76%,
    #f27d49 117.87%
  );
  padding: 8px 10px;
  border-radius: 8px;
  transition: all 0.3s linear;
  visibility: hidden;
  transform: translateY(15px);
  opacity: 0;
}
.scrollToTop.show {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.scrollToTop svg {
  color: #fff;
 
  width: 30px;
}
@media only screen and (max-width: 768px) {
  .scrollToTop {
    bottom: 5rem;
  }
}
