.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}
.securityImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg10::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 140px;
    height: 227px;
    right: 0;
    width: 247px;
    bottom: 0px;
}

.vectorImg12::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/vector12.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 88px;
    height: 228px;
    width: 114px;
    left: 0;
}

.sectionPdng {
    padding-top: 100px;
    padding-bottom: 100px;
}


@media only screen and (max-width: 600px) {

    .securityImg {
        width: 100%;
        position: unset;
    }

    .sectionPdng {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .schlBusImg {
        width: 100%;
        position: unset;
    }
    .vectorImg12::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/vector12.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 50px;
        height: 228px;
        width: 114px;
        left: 0;
        top: 80px;
    }
    .vectorImg10::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 111px;
        height: 227px;
        right: 0;
        width: 247px;
        bottom: 15px;
    }

}