.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.libraryImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg12::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/vector12.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 65px;
    height: 228px;
    width: 114px;
    left: 0;
    top: 100px;
}

.vectorImg8::after {

    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 0;
    background-size: 180px;
    height: 227px;
    width: 247px;
    bottom: 200px;
    right: 50px;
}

.sectionPdng {
    padding-top: 100px;
    padding-bottom: 50px;
}



@media only screen and (max-width: 660px) {

    .libraryImg {
        width: 100%;
        position: unset;
        top: 0px;
        right: 0px;

    }

    .sectionPdng {
        padding-top: 50px;
        padding-bottom: 0px;
    }

    .VectorSpiral::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/vector12.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 35px;
        height: 228px;
        width: 114px;
        left: 0;
        top: 90px;
    }

    .vectorImg8::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: top right;
        z-index: 0;
        background-size: 85px;
        height: 227px;
        width: 247px;
        bottom: 0px;
        right: 0;
    }

}