.eventGallery{position: relative;}

.eventGallery::after{content: "";
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: 230px;
    background: url(/assets/vectors/greenhalfspiral.png);
    background-size: 100px;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 1;}

.tabSpace{padding: 0;overflow-x: hidden;}

.eventText{margin-left: 67px;}

