.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.securityImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg11::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector11.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 160px;
    height: 227px;
    right: 9%;
    width: 247px;
    bottom: 78px;
}

.vectorImg10::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector17.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0;
    background-size: 100px;
    height: 227px;
    left: 0px;
    width: 247px;
    top: 22%;
}

.sectionPdng {
    padding-top: 100px;
    padding-bottom: 150px;
}


@media only screen and (max-width: 660px) {

    .securityImg {
        width: 100%;
        position: unset;
        top: 0;
        right: 0;
    }

    .sectionPdng {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .vectorImg10::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 0;
        background-size: 110px;
        height: 227px;
        left: -43px;
        width: 247px;
        top: 13%;
    }
    .vectorImg11::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector11.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 70px;
        height: 227px;
        right: 0;
        width: 247px;
        bottom: 0;
    }

}