.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 2px;
    width: 70px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.securityImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg11::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector11.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 110px;
    height: 227px;
    right: 6%;
    width: 247px;
    bottom: 51px;
}

.vectorImg10::before{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0;
    background-size: 110px;
    height: 227px;
    left: -38px;
    width: 247px;
    top: 28%;
}

.sectionPdng {
    padding-top: 100px;
    padding-bottom: 150px;
}


@media only screen and (max-width: 600px) {

    .vectorImg1 {
        width: auto;
        height: 100px;
        position: absolute;
        right: 0px;
        top: 157px;
        padding: 0px;
        z-index: 1;
    }

    .securityImg {
        width: 100%;
        position: unset;

    }

    .vectorImg11 {
        position: absolute;
        height: 70px;
        top: 242px;
        right: 3px;
    }

    .vectorImg10{
        position: absolute;
        height: 50px;
        left: 0px;
        top: 60px;
    }

    .sectionPdng {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}