.testimonials {
  padding-block: 3rem;
  background-color: #f7f9fa;
}
.swiperSvg {
  position: absolute;
  right: 15%;
  top: -31%;
  z-index: 0;
}

.testimonialHeading {
  font-size: 2.375rem;
  color: #e02d53;
  font-weight: 700;
  position: relative;
  margin-bottom: 2rem;
  z-index: 1;
}

.testimonialHeading::after {
  content: "";
  position: absolute;
  width: 84px;
  height: 4px;
  border-radius: 18px;
  bottom: -0.5rem;
  background-color: #e02d53;
  left: 0;
}

.card {
  max-width: 360px;
  position: relative;
  min-height: 278px;
  /* margin-inline: auto; */
}
.card img {
  position: absolute;
  width: 120px;
  height: auto;
  right: -1rem;
  top: -1rem;
}

.cardBody {
  background-color: #fcf6f7;
  margin: 5px;
}
.cardTitle {
  font-size: 22px;
  font-weight: 600;
  
  margin-top: 2rem;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #77c167 0%, #77c16700 70%) 1;
  border-radius: 12px;
  width: fit-content;
  height: auto;
}
.cardRole {
  font-size: 14px;
  margin-block: 3px;
}
.tabPane {
  padding-block: 1rem;
  width: 100%;
}
.testimonialSvg {
  position: absolute;
}


.customPrev,
.customNext {
  border-radius: 50%;
  border: none;
  background-color: #aa182c;
  width: 40px;
  height: 40px;
  padding: 0;
}

.customNext svg,
.customPrev svg {
  color: #ffffff;
}
.customPrev:hover,
.customNext:hover {
  background-color: #700e1b; /* hover background */
  transform: scale(1.02);
}
.customNav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  
  margin: 1rem 0;
  position: absolute;
  right: 1rem;
  bottom: -3rem;
}

.customNav :global(.swiper-button-disabled) {
  background-color: #e7e7e7;
}
.customNav :global(.swiper-button-disabled) svg {
  color: #c9c9c9;
}


.testimonials :global(.swiper-pagination){
  bottom: -6px;
}

.testimonials :global(.swiper-pagination-bullet) {
  width: 10px;
  height: 10px;
  background: #FBA1B4;
  opacity: 1;
  border-radius: 0;
  transition: all 0.3s ease;
}

.testimonials :global(.swiper-pagination-bullet-active) {
  width: 24px;
  height: 10px;
  background: #E02D53 ;
  border-radius: 0px;
}


@media only screen and (max-width: 768px) {
  .tabContent .card {
    max-width: 100%;
    margin: 1rem;
  }
  .swiperSvg{
    right: 0;
  }
  .cardTitle{
    width: 75%;
  }
}
