.tabSection {
  background-color: #fff5e7e5;
  padding-block: 60px;
}

.upperContainer {
  display: flex;
}

.rightHeading {
  font-size: 2.375rem;
  color: #e02d53;
  font-weight: 700;
  position: relative;
  margin-bottom: 2rem;
  width: fit-content;
}
.rightHeading::before {
  content: " ";
  position: absolute;
  background: url("/images/icon/homepage/underline-right.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 14px;
  bottom: -16px;
  left: 10px;
}
.rightHeading::after {
  content: " ";
  position: absolute;
  background: url("/images/icon/homepage/star-svg-right.png") no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  top: -1.5rem;
  right: -1.5rem;
}
.shapes {
  /* background: url("/images/bgs/topTab.png") no-repeat; */
  /* background-size: contain; */
  position: relative;
  top: 10px;
  display: flex;
  justify-content: flex-end;
}
.shapes img{
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: bottom;
}
.upperContainer > div {
  flex: 1;
}

.spotlightTabTop{
  position: relative;
  top:-50px;
  left:-44px;
}

.bottomContainer {
  padding: 3rem;
  padding-top: 1rem;
  background-color: #e02d53;
  border-radius: 60px;
  border-top-left-radius: 0;
  overflow: visible;
  padding-bottom: 0;
}

.videoWrapper {
  position: relative;
}


.sliderContainer video {
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.tab {
  overflow: hidden;
}
.sliderContainer {
  position: relative;
}

.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}
.endSvg {
  background: url("/images/bgs/bottomTab.png") no-repeat;
  background-size: contain;
  position: relative;
  top: 30px;
  height: 35px;
  width: 15%;
  left: 50%;
  transform: translateX(-50%);
  top: -1px;
}


/* Style active bullet */
.tabSection :global(.swiper-pagination-bullet-active) {
  background:#FDF631; /* your active color */
  
}

@media only screen and (max-width:576px){
  .upperContainer{
    align-items: flex-start;
    flex-direction: column;
  }
  .shapes{
    order: 2;
    width: 75%;
    
    /* background-size: contain;
    position: relative;
   
    height: 50px;
    width: 190px;
    flex: auto !important;
    align-self: self-start;
    top:22px; */
  }
  .rightHeading{
    font-size: 1.375rem;
  }
  .rightContent p{
    margin: 0;
  }
}

@media only screen and (min-width:768px){
  .spotlightTabTop{
  left:-20px;
}
}
