.tabSection {
  background-color: #fff5e7e5;
  padding-block: 60px;
}

.upperContainer {
  display: flex;
}

.shapes {
  background: url("/images/bgs/topTab.png") no-repeat;
  background-size: cover;
  position: relative;
  top: 30px;
}

.upperContainer > div {
  flex: 1;
}

.bottomContainer {
  padding: 3rem;
  padding-top: 1rem;
  background-color: #e02d53;
  border-radius: 60px;
  border-top-left-radius: 0;
  overflow: hidden;
}

.videoWrapper{
  position: relative;
}
.sliderContainer video {
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab {
  overflow: hidden;
}
.sliderContainer{
  position: relative;
}

.playBtn{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}
.endSvg{
    background: url("/images/bgs/bottomTab.png") no-repeat;
  background-size: contain;
  position: relative;
  top: 30px;
  height: 35px;
  width: 15%;
  left: 50%;
  transform: translateX(-50%);
  top: -1px;
}