.contactUs p {
    margin: 0px;
}

.quickLink a {
    margin: 10px 0px;
}

.section {
    background-color: #452C2C;
    color: #fff;
}

.section * {
    color: #fff;
}

.hrLine {
    height: 2px;
    color: #fff;
    font-weight: 400;
    margin-top: 35px;
}

.sendBtn {
    padding: 5px 35px;
    color: #AEAEAE;
}

.formInput {
    color: #222;
    padding: 15px;
}

input.formInput::placeholder {
    /* Chrome/Opera/Safari */
    color: #AEAEAE;
}

.bottomText {

    font-size: 15px !important;
}


@media only screen and (max-width: 660px) {

    .contactUs,
    .quickLinksCol,
    .aboutCol,
    .logoCol,
    .formCol {
        padding: 20px;
    }

    .bottomText {
        padding: 10px;
    }

    .contactUs,
    .quickLinksCol,
    .aboutCol,
    .logoCol,
    .formCol {
        padding: 20px;
    }

    .bottomText {
        padding: 10px;
    }
}

@media only screen and (min-width: 661px) and (max-width: 767px) {

    .contactUs,
    .quickLinksCol,
    .aboutCol,
    .logoCol,
    .formCol {
        padding: 20px;
    }
}


@media only screen and (min-width: 991px) {}

@media only screen and (min-width: 1200px) {}
