.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.hrLine {
    color: #AA182C;
    height: 2px;
    width: 70px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.libraryImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg5::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector5.png);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 1;
    background-size: 110px;
    height: 210px;
    right: 0px;
    width: 190px;
    bottom: 25px;
}

.vectorImg10::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 0;
    background-size: 110px;
    height: 227px;
    left: 0;
    width: 247px;
    bottom: 0px;
}

.sectionPdng {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {


    .libraryImg{
        width: 100%;
        position: unset;
    }
    .vectorImg5::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector5.png);
        background-repeat: no-repeat;
        background-position: top right;
        z-index: 1;
        background-size: 70px;
        height: 210px;
        right: 12px;
        width: 190px;
        bottom: 248px;
    }

}