.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}
 
.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.libraryImg {
    width: 100%;
    position: absolute;
    top: -185px;
}

.vectorImg5::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector5.png);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 1;
    background-size: 25vh;
    height: 210px;
    right: 3vh;
    width: 210px;
    bottom: 26vh;
}

.vectorImg10::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector18.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 0;
    background-size: 14vh;
    height: 227px;
    left: 0;
    width: 247px;
    bottom: 8vh;
}

.sectionPdng {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 660px) {


    .libraryImg{
        width: 100%;
        position: unset;
    }
    .vectorImg5::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector5.png);
        background-repeat: no-repeat;
        background-position: top right;
        z-index: 1;
        background-size: 70px;
        height: 210px;
        right: 0px;
        width: 190px;
        bottom: 180px;
    }
    .vectorImg10::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector18.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 0;
        background-size: 8vh;
        height: 227px;
        left: 0;
        width: 247px;
        bottom: 0;
    }
    .libraryImg {
        width: 100%;
        top: 0px;
        right: 0px;
    }

}