.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.labImg1 {
    /* height: 440px; */
    /* position: absolute;
    top: -260px;
    left: -50px; */
    width: 100%;
}

.labImg2 {
    /* right: 212px;
    position: relative; */
    width: 100%;
}

.labImg3 {
    /* right: -35px;
    position: relative; */
    width: 100%;
}

.sectionPdng {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.vectorImg5::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector5.png);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 1;
    background-size: 135px;
    height: 210px;
    right: 10vh;
    width: 190px;
    top: 52vh;
}

.vectorImg10::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector3.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 0;
    background-size: 150px;
    height: 227px;
    left: 0;
    width: 247px;
    bottom: 65vh;
}
.sectionPdngBtm{
    padding-bottom: 5rem !important;
}



@media only screen and (max-width: 600px) {


    .labImg1,
    .labImg2,
    .labImg3 {
        position: unset;
        width: 100%;
        height: 100%;
    }

    .sectionPdng {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .vectorImg10::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 0;
        background-size: 111px;
        height: 227px;
        left: 0;
        width: 247px;
        bottom: 15px;
    }

    .vectorImg5::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector5.png);
        background-repeat: no-repeat;
        background-position: top right;
        z-index: 1;
        background-size: 50px;
        height: 210px;
        right: 65px;
        width: 190px;
        top: 200px;
    }
}