.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.classroomImg {
    width: 100%;
    position: absolute;
    top: -185px;
    right: -58px;
}

.vectorImg12::before {
    bottom: 0;
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/vector12.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 105px;
    height: 228px;
    width: 114px;
    top: 135px;
    left: 0;
}

.vectorImg10::after{
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 180px;
    height: 227px;
    width: 247px;
    bottom: 30px;
    right: 60px;
}

.sectionPdng {
    padding-top: 125px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {

    .sectionPdng {
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-left: 10px;
    }

    .classroomImg {
        width: 100%;
        position: unset;
    }

    .pdngZero {
        padding: 0% !important;
    }

    .vectorImg12::before {
        bottom: 0;
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/vector12.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 38px;
        height: 228px;
        width: 114px;
        top: 70px;
        left: 0;
    }
    .vectorImg10::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 80px;
        height: 227px;
        width: 247px;
        bottom: 10px;
        right: 0;
    }

}