.vectorImg1 {
    width: auto;
    height: 322px;
    position: absolute;
    right: -104px;
    top: -24px;
}

.vectorImg2::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 1;
    background-size: 220px;
    height: 227px;
    left: 0;
    width: 247px;
    bottom: -58%;
}

.vectorImg4::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector4.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 95px;
    height: 227px;
    right: 0;
    bottom: 30%;
    width: 247px;
}

.vmpsImg {
    position: absolute;
    right: 0;
    bottom: -40px;
    width: auto;
    height: 70px;
}

.schoolBuildingImg {
    width: auto;
    position: absolute;
    left: -106px;
    top: -140px;
    height: 560px;
}

.sectionStyle {
    padding-top: 40px;
    padding-bottom: 80px;
}

.sectionStyle::before {
    content: '';
    position: absolute;
    background-image: url(/assets/banners/school-building.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 505px;
    height: 630px;
    left: 0;
    top: 54%;
    width: 570px;
    z-index: 1;
}

.bannerSection {
    color: #fff;
    background: url(/assets/banners/staff-group-photo.png);
    background-position: top-center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: flex-end;
    height: calc(740px + 260px);
    width: 100%;
    padding-bottom: 5rem;
}

.bannerSection h1,
.bannerSection h2,
.bannerSection p {
    color: #fff;
}

.bannerSection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 37.81%, #1D1D1D 65.83%);
}

.ResponsiveImage {
    height: 45vh;
    width: 100%;
}

.bannercontent1 {
    z-index: 1;
    bottom: 0px;
    padding-right: 30px;
}

.bannercontent2 {
    z-index: 1;
    bottom: 0px;
    padding-left: 30px;
}

.headingPdng {
    padding-bottom: 80px;
}

.pLineHeight {
    line-height: 20px;
}

.colZindex {
    z-index: 2;
}

.h2FontSize {
    font-size: 35px;
}

@media only screen and (max-width: 600px) {
    .headingPdng {
        padding-bottom: 0px;
    }

    .vectorImg2::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 1;
        background-size: 90px;
        height: 227px;
        left: 0;
        width: 247px;
        bottom: -34%;
    }

    .sectionPdng {
        padding-top: 15px;
        padding-bottom: 0px;
    }

    .schoolBuildingImg {
        position: unset;
        width: 100%;
        height: 100%;
    }

    .vmpsImg {
        position: absolute;
        right: 14px;
        bottom: -505px;
        height: 33px;
    }

    .ResponsiveImage {
        height: 45vh;
        width: 100%;
    }

    /* .bannerSection {
        display: none;
    } */
}

@media only screen and (min-width: 601px) and (max-width: 990px) {
    .schoolBuildingImg {
        width: 100%;
        position: unset;
    }

    .vectorImg1 {
        width: auto;
        height: 125px;
        position: absolute;
        right: -60px;
        top: 241px;
        padding: 0;
    }

    .vectorImg4 {
        position: absolute;
        right: -60px;
        bottom: 210px;
        height: 100px;
    }

    .vmpsImg {
        position: absolute;
        right: 0px;
        bottom: -930px;
        z-index: 1;
        height: 40px;
    }

    /* .bannerSection {
        display: none;
    } */

}