.vectorImg1 {
    width: auto;
    height: 322px;
    position: absolute;
    right: -104px;
    top: -24px;
}

.chckflow {
    overflow-x: hiden;
}



.vectorImg2::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 1;
    background-size: 140px;
    height: 227px;
    left: 0;
    width: 247px;
    bottom: 0%;
}

.vmpsImg {
    position: absolute;
    right: -70px;
    top: 435px;
    width: auto;
    height: 70px;
}

.schoolBuildingImg {
    position: absolute;
    right: -60px;
    top: -115px;
    height: 500px;
}

.sectionStyle {
    padding-top: 40px;
    padding-bottom: 80px;
}

/* .sectionStyle::before {
    content: "";
    position: absolute;
    background-image: url(/assets/banners/school-building.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 112%;
    left: 0;
    bottom: 9%;
    width: calc(100vw - 61vw);
    z-index: 1;
} */

.bannerSection {
    color: #fff;
    background: url(/assets/banners/staff-group-photo-new.jpg);
    background-position: top-center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: flex-end;
    height: calc(740px + 260px);
    width: 100%;
    padding-bottom: 5rem;
}

.bannerSection h1,
.bannerSection h2,
.bannerSection p {
    color: #fff;
}

.bannerSection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 37.81%, #1D1D1D 65.83%);
}

.vectorImg4::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector4.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 2;
    background-size: 95px;
    height: 227px;
    right: 0;
    bottom: 30%;
    width: 247px;
}

.ResponsiveImage {
    height: 45vh;
    width: 100%;
}

.bannercontent1 {
    z-index: 2;
    bottom: 0px;
    padding-right: 30px;
}

.bannercontent2 {
    z-index: 2;
    bottom: 0px;
    padding-left: 30px;
}

.headingPdng {
    padding-bottom: 80px;
}

.pLineHeight {
    line-height: 20px;
}

.colZindex {
    z-index: 2;
}

.h2FontSize {
    font-size: 35px;
}

.ResponsiveGroupImageContainer {
    display: none;
}

@media only screen and (max-width: 660px) {
    .headingPdng {
        padding-bottom: 0px;
    }

    .vectorImg2::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 1;
        background-size: 65px;
        height: 227px;
        left: 0;
        width: 247px;
        bottom: 0%;

    }

    .sectionPdng {
        padding-top: 15px;
        padding-bottom: 0px;
    }

    .schoolBuildingImg {
        display: none;
    }

    .vmpsImg {
        position: absolute;
        right: 14px;
        bottom: -505px;
        height: 33px;
    }

    .ResponsiveImage {
        height: auto;
        width: 100%;
    }

    .ResponsiveGroupImage {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    .ResponsiveGroupImageContainer {
        display: block;
        padding: 20px 0px;
    }

    .sectionStyle::before {
        content: "";
        position: unset;
        background-image: url(/assets/banners/school-building.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: cover;
        height: 112%;
        left: 0;
        bottom: 9%;
        width: calc(100vw - 61vw);
        z-index: 1;
    }

    .sectionStyle {
        padding-top: 40px;
        padding-bottom: 0px;
    }

}

@media only screen and (min-width: 661px) and (max-width: 990px) {
    .schoolBuildingImg {
        width: 100%;
        position: unset;
    }

    .vectorImg1 {
        width: auto;
        height: 125px;
        position: absolute;
        right: -60px;
        top: 241px;
        padding: 0;
    }

    .vectorImg4 {
        position: absolute;
        right: -60px;
        bottom: 210px;
        height: 100px;
    }

    .vmpsImg {
        position: absolute;
        right: 0px;
        bottom: -930px;
        z-index: 1;
        height: 40px;
    }

    .sectionStyle {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .ResponsiveImage {
        width: 100%;
        height: auto;
    }

    .headingPdng {
        padding-bottom: 0px;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

}

@media only screen and (min-width: 991px) and (max-width: 1199px) {

    .schoolBuildingImg {
        position: unset;
        height: auto;
        width: 100%;
    }

    .headingPdng {
        padding-bottom: 0px;
    }

}