.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: -30px;
    padding: 0px;
    z-index: 1;
}

.schlBuildingImg {
    width: 100%;
    position: absolute;
    top: 0px;
}

.vectorImg5::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector14.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 12vh;
    height: 210px;
    left: 0;
    width: 190px;
    top: 18vh;
}

.vectorImg10::after {

    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 30vh;
    height: 227px;
    right: 0;
    width: 247px;
    bottom: 14vh;
}

.vmpsImg::after {

    content: '';
    position: absolute;
    background-image: url(/assets/VMPS.png);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 0;
    background-size: 285px;
    height: 227px;
    right: -220px;
    width: 300px;
    top: 125px;
}

@media only screen and (max-width: 660px) {


    .schlBuildingImg {
        width: 100%;
        position: unset;
        top: 0px;
        right: 0;

    }

    .vectorImg10::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 0;
        background-size: 100px;
        height: 227px;
        right: 0;
        width: 247px;
        bottom: 20px;
    }

    .vectorImg5::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector14.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 40px;
        height: 210px;
        left: 0;
        width: 190px;
        top: 117px;
    }

    .vmpsImg::after {
        content: '';
        position: absolute;
        background-image: url(/assets/VMPS.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 0;
        background-size: 185px;
        height: 227px;
        left: 0;
        width: 300px;
        bottom: 0;
    }
}