.swiperCont {
  padding: 4rem 2rem;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: flex-end;
}

.sliderImagesWrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  height: 100%;
  width: 100%;
}

.sliderImagesWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sliderImageduo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderContentWrapper {
  position: relative;
  z-index: 1;
  color: white;
}

.sliderContentWrapper h2 {
  color: inherit;
  line-height: 0.95;
  width: 470px;
  max-width: 100%;
  font-size: 38px;
}

.floatingLinks {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 27%;
  z-index: 3;
  border-radius: 6px;
  gap: 1px;
  width: 90px;
}
.floatingLinks a {
  background-color: #eb3a3a;
  text-align: center;
  line-height: 1;
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 8px 5px;
  width: 100%;
  font-size: 0.875rem;
}
.floatingLinks a:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.floatingLinks a:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media only screen and (max-width: 768px) {
  .floatingLinks {
    top: auto;
    bottom: 0;
    width: unset;
    inset-inline: 0;
    flex-direction: row;
  }
  .floatingLinks a:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .floatingLinks a {
    font-size: 12px;
    padding: 8px;
    gap: 0;
  }
  .floatingLinks svg {
    width: 30px;
  }
  .swiperCont {
     padding: 2rem 1rem;
    height: calc(100dvh - 105px);
  }

  .sliderContentWrapper h2 {
    width: auto;
    font-size: 28px;
  }
}
