.centerSvg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
.swiperCont {
  padding: 4rem 2rem;
  overflow: hidden;
  height: 100vh;
  height: calc(100dvh - 5.15rem);
  display: flex;
  align-items: flex-end;
}

.sliderImagesWrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  height: 100%;
  width: 100%;
}

.sliderImagesWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sliderImageduo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderContentWrapper {
  position: relative;
  z-index: 1;
  color: white;
  padding-bottom: 2rem;
}

.sliderContentWrapper h2 {
  color: inherit;
  line-height: 0.95;
  width: 470px;
  max-width: 100%;
  font-size: 38px;
}

.floatingLinks {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 27%;
  z-index: 3;
  border-radius: 6px;
  gap: 1px;
  width: 90px;
}
.floatingLinks a {
  background-color: #eb3a3a;
  text-align: center;
  line-height: 1;
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 8px 5px;
  width: 100%;
  font-size: 0.875rem;
}
.floatingLinks a:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.floatingLinks a:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.bannerSideWrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.innercont{
  padding-inline: 4rem;
}
.innercont h2{
  font-size: 3rem;
  font-weight: 700;
  color: #1D1D1D;
}
.bannerSideWrapper a{
  font-weight: 800;
  font-size: 1.25rem;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
}
.bannerSideWrapper span{
  padding: 0.3125rem 1rem;
}
.bannerSideWrapper .innerBtn1 .txt{
  background-color: #FFB800;
  color: #1D1D1D;
}
.bannerSideWrapper .innerBtn1 .arrow{
  background-color: #FFD79AE5;
}

.bannerSideWrapper .innerBtn2 .txt{
  background-color: #45458A;
  color: #FFFFFF;
}
.bannerSideWrapper .innerBtn2 .arrow{
  background-color: #7272C3;
}
@media only screen and (max-width: 768px) {
  .floatingLinks {
    top: auto;
    bottom: 0;
    width: unset;
    inset-inline: 0;
    flex-direction: row;
  }
  .floatingLinks a:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .floatingLinks a {
    font-size: 12px;
    padding: 8px;
    border-radius: 0 !important;
    gap: 0;
  }
  .floatingLinks svg {
    width: 30px;
  }
  .swiperCont {
    padding: 2rem 1rem;
    height: calc(100dvh - 9rem);
  }

  .sliderContentWrapper h2 {
    width: auto;
    font-size: 28px;
  }
  .mobBannerSlider :global(.splide__pagination){
    bottom: 1.5rem;
  }
}
