.bannerSection {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: end;
    overflow-x: hidden;
}

.banner1{background: url(/assets/banners/home-page-banner.png);}
.banner2{background: url(/assets/banners/home-banner2.jpg);}
.banner3{background: url(/assets/banners/home-banner3.jpg);}
.banner4{background: url(/assets/banners/home-banner4.jpg);}
.banner5{background: url(/assets/banners/home-banner5.jpg);}

.bannerSection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 7.4%, rgba(0, 0, 0, 0) 129.13%);
}

.bannercontent {
    z-index: 1;
    margin-bottom: 50px;
    border-left: 2px solid #fff;
    padding-left: 20px
}

.bannercontent h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
}

.bannercontent p {
    color: #fff;
    margin-bottom: 0;
}