h1,h2,h3,h4,h5,h6{font-family: 'Nunito', sans-serif;}

p,li,a,input, textarea, select{font-family: 'Nunito', sans-serif;}

body{font-size: 16px;}

body:after{
    display:none;
    content: url(../images/facilities/classroom.jpg) url(../images/facilities/drawing.jpg) url(../images/facilities/football.jpg) url(../images/facilities/confidence.jpg);
}

.land-com-form form .phone-link li:nth-child(1):before{
  display: none;
}

.phone-link{
  color: #1a2a38;
}

.land-3-top-logo a img{width: 150px;height: 60px;}

.land-3-top-full{
    height: 85px;
    background: #fff !important;
    /*background: #f3dfd4 !important;*/
    z-index: 999999;
}

.land-3-top-logo{width: 5%;}

.land-3-top-contact{width: 95%;position: relative;left: 7%;}

.land-3-top-contact ul{padding-top: 15px;}

.land-3-banner-conte h1{line-height: 55px;color: #fff;}

.land-3-banner-conte h1 { font-size: 47px;}

.land-3-banner{display: flex;align-items: center;}

.land-3-banner-conte h4{margin-top: 20px;font-size: 27px;font-weight: 600;color: #fff;}

.land-3-dwn-img img{height: auto;}

.land-3-dwn {display: flex;align-items: center;}

.land-3-dwn-right a{background: linear-gradient(to top, #36ac49, #38ae4e);border: 1px solid #38ae4f;border-bottom: 1px solid #3cb25a;}

.land-3-dwn-right a:hover{background: linear-gradient(to top, #36ac49, #38ae4e);border: 1px solid #38ae4f;border-bottom: 1px solid #3cb25a;}

.test-box h2 {margin-top: 20px;}

.test-box:hover h2{z-index: 1;color: #Fff;position: relative;}

.test-box:hover p{z-index: 1;color: #Fff;position: relative;}

.test-box:hover img{z-index: 1;position: relative;}

.test-box{min-height: 240px;}

.test-box{position: relative;}

.la:hover{background-image: url(../images/facilities/infrastructure.png);background-size: cover; background-repeat: no-repeat;}

.com:hover{background-image: url(../images/facilities/essential-skills.png);background-size: cover;background-repeat: no-repeat;}

.extra:hover{background-image: url(../images/facilities/faclities-3.png);background-size: cover;background-repeat: no-repeat;}

.Conf:hover{background-image: url(../images/facilities/transport.png);background-size: cover;background-repeat: no-repeat;}

.test-box:hover:after{background: rgba(0, 0, 0, 0.5);content: '';position: absolute;width: 100%;height: 100%;top: 0;left: 0;}

.test-box p{font-size: 16px;}

.test-box:hover.test-box img{background: #fcb316;}

.parallax{background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;background-image: url("../images/facilities/parallax-bg.jpg");scroll-behavior: smooth;}

.land-text{padding-top: 55px;padding-bottom: 55px;}

.land-bgimg:after{background: rgba(0, 0, 0, 0.6);content: '';position: absolute;width: 100%;height: 100%;top: 0;left: 0;}

.land-bgimg figcaption{color: #fff;margin-top: 15px;text-align: center;font-size: 19px;}

.land-text h2{font-size: 48px;line-height: 62px;text-align: center;color: #fff;position: relative;z-index: 999;margin-bottom: 30px;}

.owl-theme .owl-dots .owl-dot {display: inline-block;zoom: 1;}

.owl-prev{position: absolute;top: 25%;left: -28px;}

.owl-next{position: absolute;top: 25%;right: -28px;}

.owl-nav{font-size: 35px;}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{display: block !important;}

.mt{margin: 2% 0;}

.land-3-agen{padding-bottom: 55px;}

.sc-fac{margin-bottom: 40px;}

.land-3-agen-right iframe{height: 350px;}

.land-3-agen{border-top: unset;}

.icon-color li span{color:#fff;background: #fcb316;padding: 14px 20px;box-shadow: 0px 5px 20px -8px rgba(19, 18, 18, 0.5);border-radius: 60%;font-size: 24px;float: left;margin-right: 15px;}

.icon-color p{display: flex;font-weight: 900;}

.icon-color h4{font-size: 22px;}

.icon-color li{margin-bottom: 10%;}

.facts{margin-bottom: 0;}

.land-3-banner-full:before{background: rgb(120 19 27 / 93%);}

.land-3-banner-conte{color: #000;}

.land-com-form form ul li input[type="submit"]{background: linear-gradient(to top, #35ab44, #3fb563);border-bottom: 1px solid #3ab054;}

.land-3-top-contact ul li{color: #000;font-weight: 600;}

.land-3-top-contact ul li:before{color: #000;margin-top: 3px;}

.land-3-cus-tit p{letter-spacing: 0;line-height: 23px;width: 80%;text-align: center;margin: 0 auto;margin-top: 10px;}

.land-1-foot-full{background: #000;}

.land-text p{letter-spacing: 0;line-height: 23px;width: 80%;text-align: center;margin: 0 auto;margin-top: 10px;margin-bottom: 5%;position: relative;z-index: 1;color: #fff;}

.enquire-btn{position: fixed;right:23px;bottom: 57px;z-index: 9;}

.buy-now-btn{background: linear-gradient(to top, #000000, #000000);border: 1px solid #000000;padding: 0px 10px;font-size: 17px;}

.material-icons{font-family: "Material Icons";}

.star{margin-left: 0px !important;margin-top: 2px;}

.privacy{text-align: center;margin-bottom: 5px !important;}

.privacy i{font-size: 30px;position: relative;top: 10px;right: 10px;}

.land-com-form h2{margin-bottom: 15px;font-size:28px;}

.land-com-form form ul li:nth-child(4):before{content: "short_text";}


.msg:after{
    
        content: "short_text";

    font-size: 18px;
    margin-top: 12px;
    margin-left: 10px;
    color: #6a717f;
    font-weight: 500;
    font-family: "Material Icons";
    position: absolute;
    left: 0;
    top: 0;
    
}

/*.land-container{width: 1008px;}*/

.table {
  
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table  td, .table  th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table  tr:nth-child(even){background-color: #f2f2f2;}

.table  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fcb316;
  color: #1a2a38;
}

.m-view{display: none;}


















/*media query*/


@media only screen and (max-width: 660px) {

	.land-3-banner {display: unset;}
	 
    .land-3-dwn {display: unset;}

    .test-box {
    min-height: 337px;
}

.d-view{display: none;}

.m-view{display: block;}
}


@media screen and (max-width: 767px){
    .land-3-banner-conte h1 {
        font-size: 42px !important;
        line-height: 52px;
        margin-bottom: 20px;
    }
        
    .land-3-banner-full {
        margin-top: 0px !important;
    }
}

.mob-top-margin {
    margin-top: 85px;
    margin-bottom: -10px;
}

.des-top-margin {
    margin-top: 85px;
    margin-bottom: -10px;
}

.land-3-top-contact ul li:nth-child(2):before{
    content: unset;
}

.custom-footer a {
    text-decoration: none;
    color: #495e71;
}

.mt-0 {
    margin-top: 0px;
}

.w-100 {
    width: 100%;
}