.vmpsloginBanner {
  margin-block-start: 60px;
  height: 280px;
  background: url("/images/bgs/vmps_login.png") no-repeat center center;
  background-size: cover;
}

.vmpsloginTitle {
  color: #ffb800;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 38px;
  text-shadow: 2px 3px 6px rgb(0 0 0);
  line-height: 1;
}

.vmpsDesc {
  color: white;
  font-size: 16px;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.vmpsloginwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vmpsloginButton {
  padding: 0.7rem 1.25rem;
  background-color: #dd2042;
  color: white;
  border: none;
  font-size: 24px;
  outline-color: #ffb800;
  outline-offset: 3px;
}
.vmpsloginButton:hover{
   background-color: #9e0d28;
}
@media only screen and (max-width: 576px) {
  .vmpsloginBanner {
    background: url("/images/bgs/vmps_login_mob.png") no-repeat center center;
    background-position: 70% center;
    height: 333px;
    background-size: cover;
    position: relative;
    margin-block: 0;
  }
  .vmpsloginwrapper {
    justify-content: flex-end;
    padding-block-end: 1rem;
    position: relative;
    z-index: 1;
  }
  .vmpsloginBanner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 10%, rgb(10 10 10) 100%);
    z-index: 0;
  }
}
