html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #F3F1F2;
}


a {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: unset;
}

* {
  box-sizing: border-box;
}

.greybg {
  background-color: #F3F1F2 !important;
}

.whitebg {
  background-color: #fff !important;
}

.greyText {
  color: #ABABAB;
}

h1 {
  font-size: 56px;
}

p {
  color: #222;
  font-size: 15px !important;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 500;
}

h2 {
  font-size: 45px;
}

h4 {
  font-size: 30px !important;
  font-weight: 600;
}

.outlineBtn {
  background-color: #F3F1F2;
  border: 1px solid #222;
  border-radius: 0px;
}

.outlineBtn:hover {
  background: linear-gradient(85.31deg, #A11D2A -39.85%, #E02D53 44.76%, #F27D49 117.87%);
  color: #fff;
}

li {
  font-size: 15px;
  font-weight: 500;
}

p {
  font-size: 15px;
  font-weight: 500;
}

.whiteoutlineBtn,
.whiteoutlineBtn:hover {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 0px;
  color: #fff;
}

.text-justify {
  text-align: justify;
}

.VectorLogo {
  position: relative;
}

.VectorLogo::after {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/Vector.png);
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 2;
  background-size: 145px;
  height: 337px;
  right: 0;
  width: 210px;
}

.VectorSpiral::before {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/vector12.png);
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
  background-size: 110px;
  height: 228px;
  width: 114px;
}

.insideContainer::before {
  left: -6px;
}

.left-0::before {
  left: 0;
}

.bottom-0::before {
  bottom: 0;
}

.top-0:before {
  top: 0;
}

.right-0::before {
  right: 0;
}

.VectorDot::before {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/Vector10.png);
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 0;
  background-size: 110px;
  height: 227px;
  left: 0;
  width: 247px;
  top: 63%;
}

.hasDropdown {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.VectorSpiralCenter::after {

  content: '';
  position: absolute;
  background-image: url(/assets/vectors/green-vector.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 0;
  background-size: 110px;
  height: 227px;
  right: 0;
  width: 247px;
  bottom: 50px;
}

.VectorSpiralBlue::before {

  content: '';
  position: absolute;
  background-image: url(/assets/vectors/Vector5.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 1;
  background-size: cover;
  height: 210px;
  right: 0;
  width: 190px;
  bottom: 50px;
}

.VectorSpiralPink::before {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/pinkspiral.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 1;
  background-size: 110px;
  height: 210px;
  right: 0;
  width: 190px;
  bottom: 50px;
}

.VectorStarGreen::after {

  content: '';
  position: absolute;
  background-image: url(/assets/vectors/Vector9.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 0;
  background-size: 110px;
  height: 227px;
  width: 247px;

}

.VectorYellowHalfSpiral {
  position: relative;
}

.VectorYellowHalfSpiral::after {

  content: '';
  position: absolute;
  background-image: url(/assets/vectors/Vector13.png);
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 1;
  background-size: contain;
  height: 142px;
  width: 210px;
  left: 0;
  top: 25%;

}

.VectorHalfSpiral::after {

  content: '';
  position: absolute;
  background-image: url(/assets/vectors/Vector9.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 0;
  background-size: 110px;
  height: 158px;
  width: 228px;
  right: 0;
  top: 50%;
}

/*svg-section-starts*/
.dot-vector-after::after {

  content: '';
  position: absolute;
  background-image: url(/assets/vectors/dot-vector.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 0;
  background-size: 110px;
  height: 227px;
  width: 247px;

}

.dot-vector-before.red::before {
  background-image: url(/assets/vectors/red-dot-vector.svg);
}

.dot-vector-before.blue::before {
  background-image: url(/assets/vectors/red-dot-vector.svg);
}

.dot-vector-before::before {

  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 1;
  background-size: 110px;
  height: 227px;
  width: 247px;

}

.red-dot::before,
.red-dot::after {
  background-color: #ffd5cc;
  mask-image: url(/assets/vectors/red-dot-vector.svg);
}

.blue-dot::before,
.blue-dot::after {
  color: #cce3ff;
}

.spiral-vector-before::before {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/spiral-vector.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 1;
  background-size: 110px;
  height: 210px;
  width: 190px;
}

.spiral-vector-after::after {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/spiral-vector.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 1;
  background-size: 110px;
  height: 210px;
  width: 190px;
}

.blue-spiral::after,
.blue-spiral::before {
  color: #9aedff;
}

.white-spiral::after,
.white-spiral::before {
  color: #e7ffe7;
}

.orange-spiral::after,
.orange-spiral::before {
  color: #fff5e7;
}

.star-vector-before::before {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/star-vector.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 0;
  background-size: 110px;
  height: 227px;
  width: 247px;
}

.star-vector-after::after {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/star-vector.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 0;
  background-size: 110px;
  height: 227px;
  width: 247px;
}

.green-star::after,
.green-star::before {
  color: #b5fbbc;
}

.blue-star::after,
.blue-star::before {
  color: #b5d9fb;
}

.orange-star::after,
.orange-star::before {
  color: #fbe7b5;
}

/*svg-section-ends*/



.curriculum-tab .nav-tabs .nav-link.active {
  color: #222 !important;
  background-color: #f3f1f2 !important;
  border: #fff !important;
}

.curriculum-tab .nav-tabs {

  border-bottom: 2px solid #c9c9c9;
}

.curriculum-tab .nav-tabs :hover {
  border: #fff !important;
}

.curriculum-tab .nav-tabs .nav-link.active {
  border-bottom: 2px solid #AA182C !important;
}

.eventsMenu .dropdown-item:hover .nav-item a{
  color: #fff;
}


.vision-1-Tab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #AA182C !important;
}

.verticalTab .nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  color: #fff !important;
  background-color: #AA182C !important;
}

.color-black {
  color: #222;
}

.color-black:hover {
  color: #222;
}



.home {
  position: absolute;
}

.home .navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: rgba(29, 29, 29, 1);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-radius: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-image: linear-gradient(85.31deg, #A11D2A -39.85%, #E02D53 44.76%, #F27D49 117.87%);
  color: #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-menu .dropdown-item:nth-child(1) {
  padding-top: 15px;
}

.nav-link {
  font-size: 1rem;
}

.dropdown-menu .dropdown-item:last-child {
  border-bottom: unset;
  padding-bottom: 15px;
}

#mainMenu .navbar-nav {
  justify-content: space-between;
  flex: 0 0 100%;
}

#mainMenu li.nav-item.active .nav-link {
  position: relative;
}

#mainMenu li.nav-item.active .nav-link::after {
  content: '';
  border: unset;
  border-bottom: 5px solid #AA182C;
  position: absolute;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: -1px;
}

.dropdown-menu .dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
}

.home .navbar-nav {
  border-bottom: 1px solid #fff;
}

.navbar-nav {
  border-bottom: 1px solid #000;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.pt80 {
  padding-top: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.z1 {
  z-index: 1;
}

.vmpsslide .splide__arrow--prev {
  right: 4em;
  left: unset !important;
}

.vmpsslide .splide__arrow {
  top: 103%;
}

.splide__track {
  overflow: inherit !important;
}

.ulineRed {
  position: relative;
}

.ulineRed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  border-bottom: 2px solid #AA182C;
  margin-top: 15px;
}

.splide__track {
  overflow: inherit !important;
}

/* .imgUp {
  position: relative;
} */

.imgUp img {
  top: -165px;
}

.bglogo {
  position: relative;
}

.sticky-sidebar {
  position: sticky;
  top: 0;
}

.sticky-sidebar ul {
  list-style: none;
}

.sticky-sidebar ul li {
  line-height: 32px;
}

.testimonials .splide__track .splide__pagination {
  bottom: -2.5em;
  color: #9B9BBE;
}

.splide__track {
  overflow: inherit !important;
}



.node {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transition: all 1000ms ease;
}

.divider {
  height: 40px;
  width: 2px;
  margin-left: 4px;
  transition: all 800ms ease;
}

.dividerActivated .divider {
  background-color: #842029;
}

#progress li {
  list-style: none;
  line-height: 11px;
}

#progress li p {
  width: 480px;
  margin-left: 25px;
}


.blue {
  background-color: rgba(82, 165, 255, 1);
}

.green {
  background-color: #842029;
}

.red {
  background-color: rgba(255, 148, 148, 1);
}

.grey {
  background-color: rgba(201, 201, 201, 1);
}

.brownBtn {
  background-color: #AA182C;
  border-radius: 0;
  border-color: #AA182C;
}

.learningLogo .imgUp::before {
  left: 73px;
}


.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "" !important;
  font-size: 40px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}


.blue {
  background-color: rgba(82, 165, 255, 1);
}

.green {
  background-color: #842029;
}

.red {
  background-color: rgba(255, 148, 148, 1);
}

.grey {
  background-color: rgba(201, 201, 201, 1);
}

.brownBtn {
  background-color: #AA182C;
  border-radius: 0;
  border-color: #AA182C;
}

.mob-menu-hdden {
  display: none;
}

.mob-menu .nav,
.mob-menu .nav__sub {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  list-style-type: none;
}

.mob-menu .nav {
  position: relative;
  width: 100%;
  background-color: #452C2C;
  height: 100%;
  overflow: hidden;
  display: flow-root;
}

.mob-menu .nav__item:not(:last-child) {
  border-bottom: solid 1px #fff;
}

.mob-menu .nav__item,
.mob-menu .nav__item {
  margin-top: 15px;
}

.mob-menu .nav__link {
  color: white !important;
  text-decoration: none;
  display: block;
  padding: 0.875em 1em;
  color: #000;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
}

.mob-menu .nav__sub {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #452C2C;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
}

.mob-menu .nav__sub.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

/* hamburger menu  */

#hamburger {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 5px solid transparent;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active .line {
  width: 23px;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-8px) rotate(86deg);
}

.home .hamburger .line {
  background-color: #fff;
}

.hamburger .line {
  width: 35px;
  height: 2px;
  background-color: #842029;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

@font-face {
  font-family: cedarvilleregular;
  src: url(/assets/font/cedarvilleregular.ttf);
}

.cursiveFont {

  font-family: cedarvilleregular;
  background: linear-gradient(90deg, #FD6071 -2.23%, #FD5789 25.78%, #FE48A3 48.54%, #FE28DF 68.38%, #D200FE 87.06%, #7800FE 109.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
}

.testimonialSplide .splide__pagination {
  bottom: -4rem;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.testimonialSplide .splide__pagination {
  justify-content: right;
}

.testimonialSplide .splide__pagination__page {
  background: #E3E3F2;
  border-radius: 10px;
  height: 4px;
  width: 25px;
}

.testimonialSplide .splide__pagination li {
  margin-right: 6px;
}

.testimonialSplide .splide__pagination__page.is-active {
  background: #9B9BBE;
}

.list-item {
  padding-left: 1rem;
}

tr {
  border: 2px solid #000000b8;
}

.accordion {
  --bs-accordion-color: #212529;
  --bs-accordion-bg: #F3F1F2;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: #F3F1F2;
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #212529;
  --bs-accordion-btn-bg: #F3F1F2;
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #F3F1F2;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #F3F1F2;
}

.table-bordered>:not(caption)>*>* {
  border-width: unset;
}

.table>tbody {
  vertical-align: middle;
}

.eventsGallery {
  height: 250px;
  object-fit: cover;
}



/*our-team-dynamic*/

.ImgContainer {
  border-radius: 10px;
  height: 415px;
  width: 328px;
  padding: 2px;
}

.ImgContainer1 {
  background-color: #99daff;
}

.ImgContainer2 {
  background-color: #e9ffac;
}

.ImgContainer3 {
  background-color: #ffe1be;
}

.ImgContainer4 {
  background-color: #cdffde;
}

.ImgContainer5 {
  background-color: #e7e7ff;
}

.ImgContainer6 {
  background-color: #9cffe7;
}

.ImgContainer7 {
  background-color: #ffcdee;
}

.ImgContainer8 {
  background-color: #cff4ff;
}

.ImgContainer9 {
  background-color: #ffe8a9;
}

.ImgContainer10 {
  background-color: #ffb899;
}

.ImgContainer11 {
  background-color: #e0e7ff;
}

.homeBanner .splide{z-index: 1;overflow-x: hidden;}






@media only screen and (max-width: 660px) {
  .ImgContainer {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 2px;
  }
}

.sticky-sidebar::before {

  content: '';
  position: absolute;
  width: 301px;
  height: 78px;
  background-image: url(/assets/VMPS.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
  top: 0;
}

.list-points {
  list-style: none;
  padding-left: 10px;
}

.list-points li {
  display: flex;
  align-items: baseline;
}

.list-points li img {
  margin-right: 6px;
  width: 11px;
}

.eventGallery {
  text-align: center;
}

/*bgcolors*/

.imgBgColor {
  position: relative;
}

.imgBgColor img {
  position: relative;
  z-index: 1;
}

.imgBgColor::after {

  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 73px;
  bottom: 100px;

}

.imgbg::after {

  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 60px;
  bottom: -50px;
}

.imgbg {
  position: relative;
}

.imgbg img {
  position: relative;
  z-index: 1;
}

/*bgs*/
.imgBgColor2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 50px;
  bottom: -50px;
}

.imgBgColor2 {
  position: relative;
}

.imgBgColor2 img {
  position: relative;
  z-index: 1;
}

.imgBgColorLeft::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: -50px;
  bottom: -50px;
}

.imgBgColorLeft {
  position: relative;
}

.imgBgColorLeft img {
  position: relative;
  z-index: 1;
}

/*bgs*/

/*admsn*/

.imgBgColorAdmission1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 73px;
  bottom: 300px;
}

.imgBgColorAdmission1 img {
  position: relative;
  z-index: 1;
}

.imgUpAdmission1 img {
  top: -388px;
  right: 0;
}

.imgBgColorAdmission1 {
  position: relative;
  max-width: fit-content;
}

.imgBgColorAdmission2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 55px;
  bottom: 300px;
}

.imgBgColorAdmission2 img {
  position: relative;
  z-index: 1;
}

.imgUpAdmission2 img {
  top: -388px;
  right: 0;
}

.imgBgColorAdmission2 {
  position: absolute;
}

.nav-link.first{
  color: #fff;
}

/*admsn*/

/*blogs*/
.sectionContainer {
  padding-bottom: 150px;
}

.BlogCntImg {
  position: absolute;
  width: 100%;
  height: auto;
  top: -224px;
}

.BlogvectorImg3::after {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/Vector2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 1;
  background-size: 160px;
  height: 210px;
  right: 0%;
  width: 190px;
  bottom: 3%;
}

.BlogvectorImg2::before {
  content: '';
  position: absolute;
  background-image: url(/assets/vectors/Vector1.png);
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 1;
  background-size: 100px;
  height: 210px;
  left: 0%;
  width: 190px;
  top: -2%;
}

@media only screen and (max-width: 660px) {

  .sectionContainer {
    padding-bottom: 50px;
  }

  .BlogCntImg {
    position: unset;
    width: 100%;
    height: 100%;
  }

  .BlogvectorImg2::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector1.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 100px;
    height: 210px;
    left: 0%;
    width: 190px;
    top: -1%;
  }

  .BlogvectorImg3::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 100px;
    height: 210px;
    right: 0%;
    width: 190px;
    bottom: 1%;
  }

}

/*blogs*/



/*blog*/
.imgBgColorBlog1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 73px;
  bottom: 40px;
}

.imgBgColorBlog1 img {
  position: relative;
  z-index: 1;
}

.imgBgColorBlog1 {
  position: relative;
}


.imgBgColorBlog2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: -50px;
  bottom: 40px;
}

.imgBgColorBlog2 {
  position: relative;
}

.imgBgColorBlog2 img {
  position: relative;
  z-index: 1;
}


/*responsive-for-admission*/
@media only screen and (max-width: 660px) {
  .imgUpAdmission1 img {
    top: 0px;
    right: 0;
  }

  .imgBgColorAdmission1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 20px;
    bottom: 20px;
  }

  .imgBgColorAdmission1 {
    margin: 60px 0;
  }

  .imgBgColorAdmission2 {
    position: relative;
    margin: 60px 0;
  }

  .imgUpAdmission2 img {
    top: 0px;
    right: 0;
  }

  .imgBgColorAdmission2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 20px;
    bottom: 20px;
  }
}

/*blog*/

.pastelGreen::after {
  background-color: #C7FAF4;
}

.pastelLightGreen::after {
  background-color: #D9F7CB;
}

.pastelYellow::after {
  background-color: #EDF3C4;
}

.pastelBlue::after {
  background-color: #D1EAF9;
}

.pastelDarkBlue::after {
  background-color: #BCDBFF;
}

.pastelLightPink::after {
  background-color: #EACFFF;
}


.pastelGreen::after {
  background-color: #C7FAF4;
}

.pastelLightGreen::after {
  background-color: #D9F7CB;
}

.pastelYellow::after {
  background-color: #EDF3C4;
}

.pastelBlue::after {
  background-color: #D1EAF9;
}

.pastelPurple::after {
  background-color: #e7deff;
}

.pastelRed::after {
  background-color: #f08888;
}

.pastelSkyBlue::after {
  background-color: #a4efff;
}

.pastelBlue2::after {
  background-color: #c6fcff;
}

.pastelGold::after {
  background-color: #f0d988;
}

.pastelLightGreen::after {
  background-color: #b5fbbc;
}

.pastelBrown::after {
  background-color: #ffc5a4;
}

.pastelPurple2::after {
  background-color: #d0cffa;
}

.pastelYellow::after {
  background-color: #f4f9c1;
}

.pastelRed2::after {
  background-color: #f8bebe;
}

.pastelBrown2::after {
  background-color: #faf3da;
}

.pastelGreen2::after {
  background-color: #c9f088;
}

.pastelGreen3::after {
  background-color: #d8fbe0;
}

.pastelGold1::after {
  background-color: #f0e688;
}

.pastelBlue3::after {
  background-color: #88f0e4;
}

.pastelPurple3::after {
  background-color: #d8d7fc;
}

.pastelGreen4::after {
  background-color: #97f088;
}

.pastelBlue4::after {
  background-color: #51c6eb;
}

.pastelBlue5::after {
  background-color: #baecef;
}

.pastelBrown3::after {
  background-color: #efd0ce;
}

.outlineBtn:hover a,
.whiteoutlineBtn:hover a {
  color: #fff;
}

.curriculumNav .nav {
  justify-content: space-between;
}

.curriculumNav .nav-tabs .nav-link {
  padding: 10px !important;
}

.call-btn {
  border-bottom: unset !important;
}





@media only screen and (max-width: 660px) {

  .m-pb40 {
    padding-bottom: 40px;
  }

  .m-pt40 {
    padding-top: 40px;
  }

  #progress li p {
    width: 225px;
    margin-left: 25px;
    line-height: 20px;
  }

  .imgUp::before,
  .learningLogo .imgUp::before {
    left: 11px;
  }

  #progress li p {
    width: 480px;
    margin-left: 25px;
  }

  #progress .activated p {
    color: #0c63e4;
  }



  .blue {
    background-color: rgba(82, 165, 255, 1);
  }

  .green {
    background-color: #842029;
  }

  .red {
    background-color: rgba(255, 148, 148, 1);
  }

  .grey {
    background-color: rgba(201, 201, 201, 1);
  }

  .brownBtn {
    background-color: #AA182C;
    border-radius: 0;
    border-color: #AA182C;
  }

  .imgBgColor::after {

    left: 10px;
    bottom: -12px;
  }

  .imgBgColor2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 12px;
    bottom: -12px;
  }

  .imgBgColorLeft::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: -12px;
    bottom: -12px;
  }

  .bgImageMargin {
    margin: 25px 0;
  }

  .imgbg::after {
    left: 0;
  }

}

.learningLogo .imgUp::before {
  left: 73px;
}


@media only screen and (max-width: 660px) {
  .m-pb40 {
    padding-bottom: 40px;
  }

  .m-pt40 {
    padding-top: 40px;
  }

  #progress li p {
    width: 225px;
    margin-left: 25px;
  }

  .imgUp::before,
  .learningLogo .imgUp::before {
    left: 11px;
  }

  #progress li p {
    width: 480px;
    margin-left: 25px;
  }
}

/* media queries  */

@media only screen and (max-width: 991px) {
  .navbar {
    overflow: hidden;
  }
}

@media only screen and (min-width: 991px) {
  #hamburger {
    display: none;
  }
}


@media only screen and (max-width: 660px) {


  .VectorLogo::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector.png);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 1;
    background-size: 104px;
    height: 337px;
    right: 0;
    width: 210px;
  }

  .m-hide {
    display: none;
  }

  .m-pb40 {
    padding-bottom: 40px;
  }

  .m-pt40 {
    padding-top: 40px;
  }

  #progress li p {
    width: 225px;
    margin-left: 25px;
  }

  .imgUp::before {
    left: 11px;
  }

  .imgUp img {
    margin-top: 0;
    top: 0;
    margin-bottom: 12px;
  }

  .desktop-menu {
    display: none;
  }

  .mob-menu {
    height: auto;
    z-index: 9999;
    position: relative;
    width: 100%;
  }


}


@media screen and (min-width: 661px) and (max-width: 768px) {

  .imgUp img {
    margin-top: 0;
  }
}



/* about page card style /////////*/
.card-wrapper {
  --color-primary: #00768b;
  --color-secondary: #01a188;
  --box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
  width: 100%;
  margin-bottom: 60px;
}

.card-header {
  width: 90%;
  background: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  border-top-left-radius: 70px !important;
  z-index: 2;
  position: relative;
  box-shadow: var(--box-shadow);
  height: 385px;
}

.card-header:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 20%;
  width: 30px;
  height: 30px;
  background: #fff;
  box-shadow: var(--box-shadow);
  transform: rotate(45deg);
  z-index: 1;
}

.card-header i {
  font-size: 40px;
  color: var(--color-primary);
}

.card-header h1,
.card-header h2 {
  text-transform: uppercase;
  color: var(--color-primary);
}

.card-header h1 {
  font-size: 18px;
}

.card-header h2 {
  font-size: 14px;
  margin-top: 15px;
}

.card-header p {
  font-size: 12px;
  margin-top: 10px;
}

.card-footer {
  width: 100%;
  height: 285px;

  background-image: linear-gradient(85.31deg, var(--color-primary) -39.85%, var(--color-secondary) 44.76%, var(--color-third) 117.87%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin-top: -150px;
  border-radius: 5px 5px 70px 0px !important;
  color: #fff;
  overflow: hidden;
}

.card-footer .footer-content-wrap {
  padding: 0 30px 10px 20px;

  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.card-footer .footer-text-wrap {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.card-footer i {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.7);
}

.card-footer h1 {
  font-size: 60px;
  line-height: 0.85;
  font-weight: 400;
  color: #fff;
}

.card-footer p {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

/*set card color ///////*/

.card-wrapper.one {
  --color-primary: #A11D2A;
  --color-secondary: #E02D53;
  --color-third: #F27D49;
}

.card-wrapper.two {
  --color-primary: #fc4a1a;
  --color-secondary: #f7b733;
  --color-third: #F27D49;
}

@media only screen and (min-width: 1400px) {

  .container {
    max-width: calc(100% - 8.5vw);
  }

}
