.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.sectionContainer {
    padding: 50px 0px;
}
.vmpsImg{
    position: absolute;
    right: 30px;
    bottom: 300px;
    height: 75px;
}

.vectorImg2::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 140px;
    height: 210px;
    left: -1%;
    width: 190px;
    top: -3%;
}

/* .vectorImg7::after {

    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector7.png);
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 1;
    background-size: 110px;
    height: 210px;
    right: 10%;
    width: 190px;
    top: 41%;
    
} */

.ChairmanImg {
    height: 570px;
    top: -350px;
    right: -20px;
    z-index: 0;
    position: relative;
}

@media only screen and (max-width: 600px) {

    .ChairmanImg {
        position: unset;
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }

    .sectionContainer {
        padding: 0px;
    }
    .vectorImg2::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        left: -1%;
        width: 190px;
        top: -2%;
    }
    .vectorImg7::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector7.png);
        background-repeat: no-repeat;
        background-position: center right;
        z-index: 1;
        background-size: 110px;
        height: 210px;
        right: 10%;
        width: 190px;
       top: 87%;
    }
    .vmpsImg{
        display: none;
    }


}


@media only screen and (min-width: 601px) and (max-width: 767px) {

    .ChairmanImg {
        position: unset;
        height: 480px;
    }

    .vectorImg1 {
        width: auto;
        height: 125px;
        position: absolute;
        right: -30px;
        top: 161px;
        z-index: 1;
        padding: 0;
    }

    .vectorImg2 {
        width: auto;
        position: absolute;
        left: -5px;
        top: 300px;
        height: 95px;
    }

    .vectorImg7 {
        right: 0;
        position: absolute;
        bottom: -50px;
        height: 100px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .vectorImg1 {
        width: auto;
        height: 125px;
        position: absolute;
        right: -23px;
        top: 195px;
        z-index: 1;
        padding: 0;
    }

    .vectorImg2 {
        width: auto;
        position: absolute;
        left: -5px;
        top: 300px;
        height: 95px;
    }

    .vectorImg7 {
        right: 0;
        position: absolute;
        bottom: -50px;
        height: 100px;
    }

    .ChairmanImg {
        position: unset;
        height: 480px;
    }

}