.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.sectionContainer {
    padding: 50px 0px;
}

.vmpsImg {
    position: absolute;
    right: 30px;
    bottom: 300px;
    height: 75px;
}

.vectorImg2::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 140px;
    height: 210px;
    left: -1%;
    width: 190px;
    top: -3%;
}

/* .vectorImg7::after {

    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector7.png);
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 1;
    background-size: 110px;
    height: 210px;
    right: 10%;
    width: 190px;
    top: 41%;
    
} */

.ChairmanImg {
    width: 100%;
    top: -200px;
    right: -20px;
    z-index: 0;
    position: relative;
}

.pdngRight {
    padding-right: 75px;
}

@media only screen and (max-width: 660px) {

    .ChairmanImg {
        position: unset;
        width: 100%;
        height: 100%;
        padding-top: 0px;
        right: unset;
    }

    .sectionContainer {
        padding: 0px;
    }

    .vectorImg2::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        left: -1%;
        width: 190px;
        top: -2%;
    }

    .vectorImg7::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector7.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 110px;
        height: 210px;
        right: 0%;
        width: 190px;
        bottom: 0;
    }

    .vmpsImg {
        display: none;
    }


}


@media only screen and (min-width: 661px) and (max-width: 990px) {

    .ChairmanImg {
        position: unset;
        height: 100%;
        right: unset;
    }
    .ImgMargin{
        margin-top: 35px;
    }


}

@media only screen and (max-width: 990px) {
    .pdngRight{
        padding: 0;
    }
}