.homeIcon {
    color: #AA182C;
    margin-right: 10px;
}

.vectorImg1 {
    width: auto;
    height: 280px;
    position: absolute;
    right: -104px;
    top: 42px;
    padding: 0px;
    z-index: 1;
}

.sectionPdng {
    padding-bottom: 100px;
}

.schoolBuildingImg {
    height: 525px;
    position: absolute;
    bottom: -117px;
    right: 45px;
}

/* .schoolBuilding::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 73px;
    bottom: 100px;
    background-color: #C7FAF4;
    z-index: 1;
} */

.card1 {
    /* background-color: white;
    width: 736px;
    padding: 30px 40px;
    border: 2px solid #fff;
    border-radius: 0;
    margin-bottom: 0px;
    position: relative;
    top: -70px;
    left: 3px; */
    background-color: white;
    width: 830px;
    padding: 20px 40px 20px 40px;
    border: 2px solid #fff;
    border-radius: 0;
    margin-bottom: 0px;
    position: absolute;
    top: -480px;
    left: -100px;
    z-index: 1;
}

.card2 {
    background-color: white;
    width: 830px;
    padding: 20px 40px 20px 40px;
    border: 2px solid #fff;
    border-radius: 0;
    margin-bottom: 0px;
    position: relative;
    top: -140px;
    left: -100px;
    z-index: 1;
}

.Sec1vectorImg5 {
    position: absolute;
    left: -395px;
    height: 175px;
    top: -95px;
}

.Sec1vectorImg10 {
    position: absolute;
    height: 160px;
    right: -225px;
    bottom: 70px;
}

.tabUl {
    align-items: flex-start;
    background-color: white;
    width: 240px;
}

.tabBtn {
    border-radius: 0px !important;
    padding: 14px 35px;
}

.redBorder {
    border-bottom: 1px solid #AA182C !important;
}

.widthInherit {
    width: inherit;
}

.leftIcon {
    color: #fff;
    position: absolute;
    left: 225px;
    font-size: 25px;
    width: 13px;
}

.Sec3vectorImg5 {
    position: absolute;
    top: 185px;
    right: -45px;
    height: 140px;
}

.Sec3vectorImg8 {
    position: absolute;
    right: -100px;
    top: 270px;
    height: 200px;
}

.Sec3vectorImg3 {
    position: absolute;
    height: 154px;
    left: -108px;
    bottom: -85px;
}

.Sec3vectorImg6 {
    position: absolute;
    top: -50px;
    right: -245px;
    height: 200px;
}

.card3 {
    background-color: white;
    width: 870px;
    padding: 20px 70px;
    position: absolute;
    right: 290px;
    top: 675px;
    border: 2px solid #fff;
    border-radius: 0;
}

.colpdngRt {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-right: 50px;
}

.colpdngLt {
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 50px;
}

.numberStyle {
    font-size: 95px;
    opacity: 0.1;
}

.cardmargin1 {
    margin-top: 1rem;
    margin-left: 222px;
}

.cardmargin3 {
    margin-top: 12rem;
    margin-left: 222px;
}

.studentImg {
    height: 520px;
}

.Sec2PdngBtm {
    padding-bottom: 250px;
}

.Sec2vectorImg6 {
    position: absolute;
    right: -199px;
    bottom: 11px;
    height: 190px;
}

.Sec2vectorImg3 {
    position: absolute;
    height: 150px;
    left: -682px;
    top: -60px;
}

.Sec2vmpsImg {
    position: absolute;
    top: -25px;
    left: 356px;
    height: 70px;
}

.sectionPdng4 {
    padding-top: 250px;
}

.plusIcon {
    color: #fff;
    padding-right: 15px;
    font-size: 40px;
}

.minusIcon {
    color: #222;
    padding-right: 15px;
}

.paraPdng {
    padding-left: 35px;
}

.Sec4vectorImg11 {
    position: absolute;
    height: 170px;
    right: -185px;
    bottom: -100px;
}

.Sec4vmpsImg {
    position: absolute;
    height: 70px;
    right: -200px;
    top: 240px;
}

.Sec4vectoImg10 {
    position: absolute;
    left: -160px;
    height: 140px;
    top: 100px;
}

.tabWidth {
    width: 250px;
    background-color: #fff;
}

.Tab1BlueVector::before {
    left: -120px;
    bottom: -50px;
}

.tab1RedDotVector::after {
    right: 0px;
    bottom: -250px;
}

.tab2RedDotVector::before {
    bottom: -430px;
    left: 0;
}

.Tab2GreenVector::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector9.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 110px;
    height: 227px;
    width: 247px;
    right: 0px;
    bottom: -131%;
}

.tab3VectorSpiralBlue::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector5.png);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 1;
    background-size: 170px;
    height: 210px;
    width: 190px;
    top: 50px;
    right: -45px;
}

.tab3RedDotVector::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 0;
    background-size: 110px;
    height: 227px;
    width: 247px;
    bottom: 0px;
    left: -100px;
}

.tab3VectorStarGreen::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/green-vector.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 0;
    background-size: 110px;
    height: 227px;
    width: 247px;
    bottom: 0;
    right: 0;
}

.tableContainer {
    height: 290px;
}

.tableBody tr {
    border: 1px solid #222;
}

.tableBody td {
    padding: 24px 19px;
}

.vectorImg16::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector16.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 100px;
    height: 210px;
    width: 190px;
    left: 0;
    bottom: -32vh;
}

/* .vectorImg5::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 180px;
    height: 210px;
    width: 190px;
    right: 3vh;
    bottom: -56vh;
} */

.vectorImg3::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector3.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 160px;
    height: 210px;
    width: 190px;
    left: 0;
    bottom: -41vh;
}

/* .vectorImg9::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector9.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 20vh;
    height: 210px;
    width: 190px;
    right: 0px;
    bottom: -200vh;
} */

.vectorImg3Tab3::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector3.png);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    background-size: 160px;
    height: 210px;
    width: 190px;
    left: 0px;
    bottom: -140%;
}

/* .vectorImg6::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector6.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    background-size: 200px;
    height: 224px;
    width: 200px;
    right: 9%;
    bottom: -335%;
} */

.vectorImg17::before {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector17.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 1;
    background-size: 138px;
    height: 210px;
    width: 190px;
    left: 0px;
    bottom: -30%;
}

/* .vectorImg11::after {
    content: '';
    position: absolute;
    background-image: url(/assets/vectors/Vector11.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 1;
    background-size: 190px;
    height: 210px;
    width: 190px;
    right: 0px;
    bottom: -150%;
} */

.accordionExample {
    background-color: #F3F1F2;
    ;
}



@media only screen and (max-width: 660px) {
    .schoolBuildingImg {
        height: 100%;
        width: 100%;
        position: unset;
    }

    .cardmargin1 {
        margin-top: 0;
        margin-left: 0px;
    }

    .card1 {
        background-color: white;
        border: 2px solid #fff;
        border-radius: 0;
        margin-bottom: 0px;
        position: unset;
        width: 100%;
        padding: 20px;
    }

    .card2 {
        background-color: white;
        width: 100%;
        padding: 20px 40px 20px 40px;
        border: 2px solid #fff;
        border-radius: 0;
        margin-bottom: 0px;
        position: unset;
        z-index: 1;
    }

    .sectionPdng {
        padding-bottom: 50px;
    }


    .Sec2vmpsImg {
        position: absolute;
        top: -10px;
        right: 0;
        height: 35px;
        left: unset;
    }

    .studentImg {
        width: 100%;
        height: 100%;
    }

    .Sec2PdngBtm {
        padding-bottom: 0px;
        order: 1;
    }

    .order3 {
        order: 3;
    }

    .order2 {
        order: 2;
    }


    .cardmargin3 {
        margin-top: 0px;
        margin-left: 0px;
    }

    .colpdngLt,
    .colpdngRt {
        padding: 20px 20px;
    }

    .ulLineHeight {
        line-height: 35px;
    }

    .numberStyle {
        font-size: 60px;
        opacity: 0.1;
    }

    .sectionPdng4 {
        padding: 0 25px;
    }

    .Sec4vmpsImg {
        position: absolute;
        height: 25px;
        right: 2px;
        top: 362px;
    }

    .vectorImg16::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector16.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 50px;
        height: 210px;
        width: 190px;
        left: 0;
        bottom: -15%;
    }

    .vectorImg5::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 75px;
        height: 210px;
        width: 190px;
        right: 43px;
        bottom: -41%;
    }

    .vectorImg3::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector3.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 80px;
        height: 210px;
        width: 190px;
        left: 0;
        bottom: -40%;
    }

    .vectorImg9::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector9.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 70px;
        height: 210px;
        width: 190px;
        right: 0px;
        bottom: -195%;
    }

    .tab3VectorSpiralBlue::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector5.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 60px;
        height: 150px;
        width: 150px;
        bottom: 0;
        right: 0;
    }

    .colpdngLt,
    .colpdngRt {
        text-align: left !important;
    }

    .vectorImg3Tab3::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector3.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        width: 190px;
        left: 0px;
        bottom: -186%;
    }

    .vectorImg6::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector9.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 70px;
        height: 210px;
        width: 190px;
        right: 0px;
        bottom: -293%;
    }

    .vectorImg17::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector17.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 1;
        background-size: 100px;
        height: 210px;
        width: 190px;
        left: 0px;
        bottom: 0%;
    }

    .vectorImg11::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector11.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 63px;
        height: 210px;
        width: 190px;
        right: 0px;
        bottom: -115%;
    }


}

@media only screen and (min-width: 661px) and (max-width: 990px) {
    .tabBtn {
        border-radius: 0px !important;
        padding: 14px 20px;
        width: 50%;
    }

    .tabWidth {
        width: 100%;
        margin-bottom: 40px;
        background-color: #fff;
    }

    .schoolBuildingImg {
        height: 100%;
    }

    .card1 {
        background-color: white;
        width: 100%;
        padding: 20px 40px 20px 40px;
        border: 2px solid #fff;
        border-radius: 0;
        margin-bottom: 0px;
        position: unset;
        z-index: 1;
    }

    .cardmargin1 {
        margin-top: 60px;
        margin-left: 0;
    }

    .leftIcon {
        color: #fff;
        position: absolute;
        right: 51px;
        font-size: 30px;
        width: 14px;
        left: unset;
    }

    .vectorImg16::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector16.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 50px;
        height: 120px;
        width: 130px;
        left: 0;
        bottom: -24vh;
    }

    .vectorImg5::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector10.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 100px;
        height: 190px;
        width: 190px;
        right: 0;
        bottom: -50vh;
    }

    .responsiveRedBorder1 {
        border-bottom: 1px solid #AA182C !important;
        border-right: 1px solid #AA182C !important;
    }

    .responsiveRedBorder2 {
        border-bottom: 1px solid #AA182C !important;
        border-left: 1px solid #AA182C !important;
    }

    .responsiveRedBorder3 {
        border-bottom: 1px solid #AA182C !important;
        border-right: 1px solid #AA182C !important;
    }

    .responsiveRedBorder4 {
        border-bottom: 1px solid #AA182C !important;
        border-left: 1px solid #AA182C !important;
    }
    .cardmargin3 {
        margin-top: 60px;
        margin-left: 0;
    }
    .card2 {
        background-color: white;
        width: 100%;
        padding: 20px 40px 20px 40px;
        border: 2px solid #fff;
        border-radius: 0;
        margin-bottom: 0px;
        position: unset;
        z-index: 1;
    }
    .tab3VectorSpiralBlue::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector5.png);
        background-repeat: no-repeat;
        background-position: top right;
        z-index: 1;
        background-size: 90px;
        height: 110px;
        width: 100px;
        top: 0;
        right: 0;
    }
    .vectorImg3Tab3::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector3.png);
        background-repeat: no-repeat;
        background-position: top left;
        z-index: 1;
        background-size: 100px;
        height: 110px;
        width: 110px;
        left: 0px;
        bottom: -130%;
    }
    .vectorImg6::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector6.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 100px;
        height: 110px;
        width: 100px;
        right: 0%;
        bottom: -330%;
    }
    .Sec2PdngBtm {
        padding-bottom: 30px;
    }
    .Sec2vmpsImg {
        position: absolute;
        top: 0;
        right: 0;
        height: 45px;
        left: unset;
    }
    .vectorImg9::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector9.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 1;
        background-size: 100px;
        height: 130px;
        width: 110px;
        right: 0px;
        bottom: -180vh;
    }
    .studentImg{
        height: 100%;
        width: 100%;
    }
    .sectionPdng4{
        padding-top: 40px;
    }
    .Sec4vmpsImg {
        position: absolute;
        height: 50px;
        right: 0;
        top: 50px;
    }
    .vectorImg17::before {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector17.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 1;
        background-size: 100px;
        height: 140px;
        width: 110px;
        left: 0px;
        bottom: -30%;
    }
    .vectorImg11::after {
        content: '';
        position: absolute;
        background-image: url(/assets/vectors/Vector11.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 1;
        background-size: 100px;
        height: 110px;
        width: 100px;
        right: 0px;
        bottom: -140%;
    }
}